# Laravel
/bootstrap/compiled.php
/vendor
composer.phar
composer.lock

# Mac OSX
.DS_Store

# IDE
.idea/*

# NPM & Bower
/node_modules
/public/vendor

# Application
app/storage/tmp/*
app/storage/fdf/*
public/compcards/*