# Laravel
/bootstrap/compiled.php
/vendor
composer.phar

# Mac OSX
.DS_Store

# IDE
.idea

# NPM & Bower
/node_modules
/public/vendor
.sass-cache
/client/compiled

# Application
app/storage/tmp/*
app/storage/fdf/*
public/compcards/*
# public/assets/script.min.js # PagodaBox does not support npm
# public/assets/style.min.js
# public/assets/tmp/*