<div class="row">
  <div class="col-sm-3">
    <h4>Athletes:</h4>
    <ul class="nav nav-pills nav-stacked">
      <li ng-repeat="athlete in athletes"><a href="/athletes/{{athlete.id}}">{{ athlete.first_name }} {{ athlete.last_name }}</a></li>
      <li><a href="/athletes"><i class="fa fa-arrow-circle-left"></i> View all</a></li>
    </ul>
  </div>
  <div class="col-sm-9">
    <div class="row">
      <div class="col-sm-6 col-md-2">
        <i class="fa fa-{{ athlete.gender }}" style="font-size:160px"></i>
      </div>
      <div class="col-sm-6 col-md-10">
        <h1 class="athlete-header">{{ athlete.first_name }} {{athlete.last_name}}</h1>
        
        <p style="margin-top:20px">
          <span><i class="fa fa-group"></i> {{ athlete.team }}</span><br />
          <span><i class="fa fa-calendar"></i> {{ athlete.birthday }}</span><br />
        </p>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <h3>Levels</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3">
          <h4 class="trampoline">Trampoline</h4>
          <label for="trampoline_level">Level:</label>
          {{ levelLabel(athlete.trampoline_level) }}
        </div>
        <div class="col-lg-3">
          <h4 class="synchro">Synchro</h4>
          <label for="synchro_level">Level:</label>
          {{ levelLabel(athlete.synchro_level) }}
        </div>
        <div class="col-lg-3">
          <h4 class="double-mini">Double Mini</h4>
          <label for="doublemini_level">Level:</label>
          {{ levelLabel(athlete.doublemini_level) }}
        </div>
        <div class="col-lg-3">
          <h4 class="tumbling">Tumbling</h4>
          <label for="tumbling_level">Level:</label>
          {{ levelLabel(athlete.tumbling_level) }}
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <h3>Routines</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3">
          <h4 class="event-panel">Trampoline</h4>
          <a href="#" ng-click="chooseTrampoline()" class="btn btn-xs btn-info" ng-disabled=" ! athlete.trampoline_level">
            <i class="fa fa-cog"></i> Choose
          </a>

          <dl>
            <dt>Prelim Compulsory:</dt>
            <dd>
              <span ng-if="hasRoutineTypes.tra_prelim_compulsory == true">
                {{ tra_prelim_compulsory.name }} (<strong>{{ tra_prelim_compulsory.difficulty }}</strong>)
              </span>
              <span ng-if=" ! hasRoutineTypes.tra_prelim_compulsory">
                None
              </span>
            </dd>
            <dt>Prelim Optional:</dt>
            <dd>
              <span ng-if="hasRoutineTypes.tra_prelim_optional == true">
                {{ tra_prelim_optional.name }} (<strong>{{ tra_prelim_optional.difficulty }}</strong>)
              </span>
              <span ng-if=" ! hasRoutineTypes.tra_prelim_optional">
                None
              </span>
            </dd>
            <dt>Semi-Final Optional:</dt>
            <dd>
              <span ng-if="hasRoutineTypes.tra_semi_final_optional == true">
                {{ tra_semi_final_optional.name }} (<strong>{{ tra_semi_final_optional.difficulty }}</strong>)
              </span>
              <span ng-if=" ! hasRoutineTypes.tra_semi_final_optional">
                None
              </span>
            </dd>
            <dt>Final Optional:</dt>
            <dd>
              <span ng-if="hasRoutineTypes.tra_final_optional == true">
                {{ tra_final_optional.name }} (<strong>{{ tra_final_optional.difficulty }}</strong>)
              </span>
              <span ng-if=" ! hasRoutineTypes.tra_final_optional">
                None
              </span>
            </dd>
          </dl>
        </div>
        <div class="col-lg-3">
          <h4 class="event-panel">Synchro</h4>
          <a href="#" ng-click="chooseSynchro()" class="btn btn-xs btn-info" ng-disabled=" ! athlete.synchro_level">
            <i class="fa fa-cog"></i> Choose
          </a>
          
          <dl>
            <dt>Prelim Compulsory:</dt>
            <dd>
              <span ng-if="hasRoutineTypes.sync_prelim_compulsory == true">
                {{ sync_prelim_compulsory.name }} (<strong>{{ sync_prelim_compulsory.difficulty }}</strong>)
              </span>
              <span ng-if=" ! hasRoutineTypes.sync_prelim_compulsory">
                None
              </span>
            </dd>
            <dt>Prelim Optional:</dt>
            <dd>
              <span ng-if="hasRoutineTypes.sync_prelim_optional == true">
                {{ sync_prelim_optional.name }} (<strong>{{ sync_prelim_optional.difficulty }}</strong>)
              </span>
              <span ng-if=" ! hasRoutineTypes.sync_prelim_optional">
                None
              </span>
            </dd>
            <dt>Final Optional:</dt>
            <dd>
              <span ng-if="hasRoutineTypes.sync_final_optional == true">
                {{ sync_final_optional.name }} (<strong>{{ sync_final_optional.difficulty }}</strong>)
              </span>
              <span ng-if=" ! hasRoutineTypes.sync_final_optional">
                None
              </span>
            </dd>
          </dl>
        </div>
        <div class="col-lg-3">
          <h4 class="event-panel">Double Mini</h4>
          <a href="#" ng-click="chooseDoubleMini()" class="btn btn-xs btn-info" ng-disabled=" ! athlete.doublemini_level">
            <i class="fa fa-cog"></i> Choose
          </a>

          <dl>
            <dt>Pass 1:</dt>
            <dd>
              <span ng-if="hasRoutineTypes.dmt_pass_1 == true">
                {{ dmt_pass_1.name }} (<strong>{{ dmt_pass_1.difficulty }}</strong>)
              </span>
              <span ng-if=" ! hasRoutineTypes.dmt_pass_1">
                None
              </span>
            </dd>
            <dt>Pass 2:</dt>
            <dd>
              <span ng-if="hasRoutineTypes.dmt_pass_2 == true">
                {{ dmt_pass_2.name }} (<strong>{{ dmt_pass_2.difficulty }}</strong>)
              </span>
              <span ng-if=" ! hasRoutineTypes.dmt_pass_2">
                None
              </span>
            </dd>
            <dt>Pass 3:</dt>
            <dd>
              <span ng-if="hasRoutineTypes.dmt_pass_3 == true">
                {{ dmt_pass_3.name }} (<strong>{{ dmt_pass_3.difficulty }}</strong>)
              </span>
              <span ng-if=" ! hasRoutineTypes.dmt_pass_3">
                None
              </span>
            </dd>
            <dt>Pass 4:</dt>
            <dd>
              <span ng-if="hasRoutineTypes.dmt_pass_4 == true">
                {{ dmt_pass_4.name }} (<strong>{{ dmt_pass_4.difficulty }}</strong>)
              </span>
              <span ng-if=" ! hasRoutineTypes.dmt_pass_4">
                None
              </span>
            </dd>
          </dl>
        </div>
        <div class="col-lg-3">
          <h4 class="event-panel">Tumbling</h4>
          <a href="#" ng-click="chooseTumbling()" class="btn btn-xs btn-info" ng-disabled=" ! athlete.tumbling_level">
            <i class="fa fa-cog"></i> Choose
          </a>
          
          <dl>
            <dt>Pass 1:</dt>
            <dd>
              <span ng-if="hasRoutineTypes.tum_pass_1 == true">
                {{ tum_pass_1.name }} (<strong>{{ tum_pass_1.difficulty }}</strong>)
              </span>
              <span ng-if=" ! hasRoutineTypes.tum_pass_1">
                None
              </span>
            </dd>
            <dt>Pass 2:</dt>
            <dd>
              <span ng-if="hasRoutineTypes.tum_pass_2 == true">
                {{ tum_pass_2.name }} (<strong>{{ tum_pass_2.difficulty }}</strong>)
              </span>
              <span ng-if=" ! hasRoutineTypes.tum_pass_2">
                None
              </span>
            </dd>
            <dt>Pass 3:</dt>
            <dd>
              <span ng-if="hasRoutineTypes.tum_pass_3 == true">
                {{ tum_pass_3.name }} (<strong>{{ tum_pass_3.difficulty }}</strong>)
              </span>
              <span ng-if=" ! hasRoutineTypes.tum_pass_3">
                None
              </span>
            </dd>
            <dt>Pass 4:</dt>
            <dd>
              <span ng-if="hasRoutineTypes.tum_pass_4 == true">
                {{ tum_pass_4.name }} (<strong>{{ tum_pass_4.difficulty }}</strong>)
              </span>
              <span ng-if=" ! hasRoutineTypes.tum_pass_4">
                None
              </span>
            </dd>
          </dl>
        </div>
      </div>

      <div class="row">
        <div class="panel panel-default">
          <div class="panel-body">
            <button class="btn btn-success btn-lg" ng-click="downloadCompcards()"><i class="fa fa-download"></i> Compcards</button>
            <button class="btn btn-info btn-lg" ng-click="edit()"><i class="fa fa-edit"></i> Edit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>